.SurveyNameContainer input{
    width: 150px; 
    height: 20px;
}

.SurveyQuestionContainer button{
    margin-top: 20px;
    width: 150px; 
    height: 20px;
}

.SurveyQuestionTableContainer table{
    margin-top: 20px;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 500px;
}