.CurrentSurvey table{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 500px;
}

#Edit{
    position: absolute;
    right: 125px;
    width: 70px; 
    height: 30px;
}

#Save{
    position: absolute;
    right: 125px;
    width: 70px; 
    height: 30px;
}

#AddQuestion{
    position: absolute;
    right: 240px;
    width: 70px; 
    height: 30px;
    font-size: 10px;
}