.AdminDashboard h1{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.tContainer {
    height: 390px;
    overflow: scroll;
    table-layout: fixed;
}

.OnetJobsTable {
    height: 390px;
    table-layout: fixed;
}

.tContainer button {
    overflow: hidden;
    height: 125px;
    width: 300px;
}

#Logout{
    position: absolute;
    right: 10px;
}

#Back{
    position: absolute;
    left: 10px;
}

.DashboardButtons button{
    margin-left: 20px;
    margin-top: 100px;
}

.table{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 500px;
}

.table2{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 1000px;
}

/* CSS for nav buttons */
#Logout, #Back, #Edit, #Save, #AddQuestion,  #Fix {
  align-items: center;
  appearance: none;
  background-color: rgb(230, 228, 228);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#Logout, #Back, #Edit, #Save, #AddQuestion, #Fix:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* CSS for main buttons */
.DashboardButton {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  height: 100px;
}

.DashboardButton:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.DashboardSurveyButton {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
   }
   
   .DashboardSurveyButton :before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #87b0f7;
    z-index: -1;
   }
   
   .DashboardSurveyButton:hover, button:focus {
    color: rgb(0, 0, 0);
   }
   
   .DashboardSurveyButton:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
   }
   
   .DashboardSurveyButton:active {
    transform: scale(0.9);
   }

   /*  */

   .OnetJobs button {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #fdfeff;
   }
   
   .OnetJobs button :before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #87b0f7;
    z-index: -1;
   }
   
   .OnetJobs button:hover, button:focus {
    color: rgb(0, 0, 0);
   }
   
   .OnetJobs button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
   }
   
   .OnetJobs button:active {
        transform: scale(0.9);
    }

    .OnetJobs button{
        height: 125px;
        width: 150px;
    }

    .OnetJobs td{
        overflow: hidden;
    }

    .OnetJobsTable{
        width: 100%;
    }

   
